body{
    font-family: "G마켓 산스 TTF Medium";
    text-align: center;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.container{
    width: 92.5%;
    max-width: 1132px;
    margin: 0 auto;
}
header{
    padding: 28px 3.75%;
    max-width: 1440px;
    margin: 0 auto;
    font-weight: 800;
}

header h1{
    float: left;
    font-size: 30px;
}
header h1::before{
    content: "평가";
    color: #3f51b5;
}

header p{
    float: left;
    clear: left;
    margin: 5px;
}
.content{
    width: 500px;
}
/*radio*/
fieldset {
    border: none;
    margin-top: 10px;
}
form p{
    font-size: 20px;
}
fieldset label {
    font-size: 15px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
}
fieldset span {
    vertical-align: middle;
    margin-left: 10px;
}
[type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
    border: 0.4em solid #3f51b5;
}
  
[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #3f51b5;
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

textarea{
    resize: none;
    width: 50%;
    height: 155px;
    outline: 0;
    padding-top: 5px;
    background-color: aliceblue;
}

[type="text"]{
    background-color: aliceblue;
}

[type="submit"]{
    color: #3f51b5;
    background-color: #fff;
}

[type="submit"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}
[type="button"]:hover{
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}