body{
    font-family: "G마켓 산스 TTF Medium";
}
#wrap{
    min-width: 1000px;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.container{
    width: 65%;
    max-width: 1132px;
    margin: 0 auto;
}

.m-divider{
    width: 40px; 
    margin: 40px auto 0;
    border: 1px solid #3f51b5;
}
.sec-tit{
    color:  #3f51b5;
    font-size: 20px;
    font-weight: 600;
}
.sec-tit::before{
    content: "•";
    font-size: 30px;
    color: #3f51b5;
}
header{
    padding: 28px 3.75%;
    max-width: 1440px;
    margin: 0 auto;
    font-weight: 800;
}
header h1{
    float: left;
    font-size: 30px;
}

.intro-section{
    margin-top: 20px;
}
.intro-section p{
    line-height: 27px;
    margin-bottom: 10px;
}

.second-section{
    margin-top: 40px;
}
.second-section p{
    line-height: 27px;
    margin-top: 10px;
}
.third-section{
    margin-top: 40px;
}
.third-section p{
    line-height: 27px;
    margin-top: 10px;
}
.third-section span{
    font-size: 10px;
    position: absolute;
    right: 18%;
}
.implication-section{
    margin-top: 40px;
}
.implication-section p{
    line-height: 27px;
    margin-top: 10px;
}
.implication-section .sub-tit{
    font-size: 20px;
    color: #3f51b5;
    
}
.implication-section .source{
    font-size: 10px;
    position: absolute;
    right: 18%;
}
.fourth-section{
    margin-top: 40px;
}
.fourth-section p{
    line-height: 27px;
    margin-top: 10px;
}
.fourth-section span{
    font-size: 18px;
    font-weight: 300;
    color: #3f51b5;
}
.fourth-section span::before{
    content: "◆";
    font-size: 18px;
    color: #3f51b5;
}
.fourth-section a{
    font-size: 10px;
    position: absolute;
    right: 18%;
}
