
#wrap{
    min-width: 1000px;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.blind{
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px; /*문단의 첫 번째 줄 들여쓰기. 마이너스로 하면 화면 밖으로 나가버림*/
    overflow: hidden;
    position: absolute; /*overflow:hidden, position:absolute는 옵션임*/
}

.container{
    width: 92.5%;
    max-width: 1132px;
    margin: 0 auto;
}

.m-divider{
    width: 20px; 
    margin: 124px auto 0;
    border: 1px solid #3f51b5;
}

.logo{
    color:  #3f51b5;
}

.sec-tit{
    color:  #3f51b5;
    font-size: 42px;
    font-weight: 600;
}

header{
    padding: 28px 3.75%;
    max-width: 1440px;
    margin: 0 auto;
    font-weight: 800;
}

header h1{
    float: left;
    font-size: 34px;
}

nav{
    float: right;
    margin-top: 5px;
}

.gnb li{
    float: left;
    margin-left: 20px;
}
.slider img{
    width: 100%;
}
.display-section{
    margin-top: 100px;
}

.display-section .sec-tit{
    float: left;
}

.display-section .desc{
    float: right;
}

.desc{
    font-family: "G마켓 산스 TTF Medium";
    color: #616161;
    font-size: 16px;
    line-height: 2;
}
.work-section{
    margin-top: 120px;
}

.work-list{
    margin-top: 80px;
    text-align: center;
}

.work-list li{
    display: inline-block;
    width: 25%;

}

.work-list li .info{
    position: absolute;
    background: rgba(63, 81, 181, 0.9);
    height: 100%;
    left: 0;
    right: 0;
    transition: 0.6s;/*0.6초에 걸쳐서 현재 프로퍼티보여주기*/
    margin-top: -100%;/*위에서 아래로*/
    padding: 20px 0 0 0; /*top left bottom right*/
}

.work-list li a:hover .info{
    opacity: 1;
    margin-top: 0;
}

.work-list a{
    display: block;
    position: relative;
    color: #fff;
    overflow: hidden;
}

.work-list li .info h3{
    font-size: 23px;
}

.work-list li img{
    width: 100%;
}

footer{
    margin-top: 104px;
}

footer iframe{
    width: 100%;
    height: 424px;
    max-width: 1132px;
}

footer a{
    text-align: center;
    color:  #3f51b5;
    font-size: 34px;
    font-weight: 600;
}

footer p{
    font-family: "G마켓 산스 TTF Medium";
}
footer #clock{
    width: fit-content;
    float: right;
    color: #3f51b5;
}
#clock{
    font-size: 15px;
    text-align: center;
}